@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FormWizard</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="~/img/icons/icon-48x48.png" />
	<link rel="canonical" href="https://demo.adminkit.io/charts-apexcharts.html" />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/light.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />  @*Do not Delete (Jessica)*@

	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"> @*for dragndrop*@
</head>
<body data-sidebar-position="left" data-layout="fluid" data-sidebar-layout="default">
	    <div class="wrapper">
        <header>
		@*
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" asp-area="" asp-page="Index">
				
					<span class="sidebar-brand-text align-middle">
						AdminKit
					</span>
					<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5"
						stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
						<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
						<path d="M20 12L12 16L4 12"></path>
						<path d="M20 16L12 20L4 16"></path>
					</svg>
				</a>

				<div class="sidebar-user">
					<div class="d-flex justify-content-center">
						<div class="flex-shrink-0">
							<img src="~/images/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="John Doe" />
						</div>
						<div class="flex-grow-1 ps-2">
							<a class="sidebar-user-title dropdown-bs-toggle" href="#" data-bs-toggle="dropdown">
								John Doe
							</a>
							<div class="dropdown-menu dropdown-menu-start">
								<a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="pages-settings.html"><i class="align-middle me-1" data-feather="settings"></i> Settings &
									Privacy</a>
								<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Log out</a>
							</div>

							<div class="sidebar-user-subtitle">Senior Developer</div>
						</div>
					</div>
				</div>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>
					<li class="sidebar-item active">
						<a class="sidebar-link" href="pages-profile.html">
							<i class="bi bi-person-circle"></i> <span class="align-middle">Profile</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="" asp-page="CreateNewForm">
							<i class="bi bi-ui-checks"></i> <span class="align-middle">New Form</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link"  asp-area="" asp-page="CreateNewQuestion">
							<i class="bi bi-question-circle"></i> <span class="align-middle">New Question</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link"  asp-area="" asp-page="Survey/SurveyInd">
							<i class="bi bi-question-circle"></i> <span class="align-middle">Surveys</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a href="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="bi bi-people-fill"></i> <span class="align-middle">Auth</span>
						</a>
						<ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="pages-sign-in.html">Sign In</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="pages-sign-up.html">Sign Up</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="pages-reset-password.html">Reset Password <span
										class="sidebar-badge badge bg-primary">Pro</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="pages-404.html">404 Page <span
										class="sidebar-badge badge bg-primary">Pro</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="pages-500.html">500 Page <span
										class="sidebar-badge badge bg-primary">Pro</span></a></li>
						</ul>
					</li>

				</ul>
			</div>
		</nav>
		*@
        </header>

        @* Here goes the navbar, with the body rendering the views of each page*@
        <div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				@*
				<a class="sidebar-toggle js-sidebar-toggle" >
					<i class="hamburger align-self-center"></i>
				</a>
				*@
				@*
				<form class="d-none d-sm-inline-block">
					<div class="input-group input-group-navbar">
						<input type="text" class="form-control" placeholder="Search…" aria-label="Search">
						<button class="btn" type="button">
							<i class="align-middle" data-feather="search"></i>
						</button>
					</div>
				</form>
				*@
				<ul class="navbar-nav d-none d-lg-flex">
					<li class="nav-item px-2 dropdown">
						<a class="nav-link " asp-area="" asp-page="/Categories/Index">
							Category
						</a>
					</li>
				</ul>
				<ul class="navbar-nav d-none d-lg-flex">
					<li class="nav-item px-2 dropdown">
						<a class="nav-link " asp-area="" asp-page="/Countries/Index">
							Country
						</a>
					</li>
				</ul>
				<ul class="navbar-nav d-none d-lg-flex">
					<li class="nav-item px-2 dropdown">
						<a class="nav-link " asp-area="" asp-page="/Participants/Index">
							Participant
						</a>
					</li>
				</ul>
				<ul class="navbar-nav d-none d-lg-flex">
					<li class="nav-item px-2 dropdown">
						<a class="nav-link " asp-area="" asp-page="/MyForms/Index">
							Form
						</a>
					</li>
				</ul>

				<ul class="navbar-nav">
				@if (SignInManager.IsSignedIn(User))
				{
					<li class="nav-item">
						<a  class="nav-link text-dark"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
					</li>
					<li class="nav-item">
						<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
							<button  type="submit" class="nav-link btn btn-link">Logout</button>
						</form>
					</li>
				}
				else
				{
					@*<li class="nav-item">
						<a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
					</li>*@
					<li class="nav-item">
						<a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
					</li>
				}
				</ul>




				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon"  asp-area="" asp-page="Index">
								<div class="position-relative">
									<i class="bi bi-house"></i>									
								</div>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown">
								<img src="~/images/flags/us.png" alt="English" />
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
								<a class="dropdown-item" href="#">
									<img src="~/images/flags/fi.png" alt="Finnish" width="20" class="align-middle me-1" />
									<span class="align-middle">Finnish</span>
								</a>
								<a class="dropdown-item" href="#">
									<img src="~/images/flags/us.png" alt="English" width="20" class="align-middle me-1" />
									<span class="align-middle">English</span>
								</a>
								<a class="dropdown-item" href="#">
									<img src="~/images/flags/sv.png" alt="Swedish" width="20" class="align-middle me-1" />
									<span class="align-middle">Swedish</span>
								</a>
								<a class="dropdown-item" href="#">
									<img src="~/images/flags/ee.png" alt="Estonian" width="20" class="align-middle me-1" />
									<span class="align-middle">Estonian</span>
								</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-icon pe-md-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
								<img src="~/images/avatars/avatar.jpg" class="avatar img-fluid rounded" alt="John Doe" />
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="pages-settings.html"><i class="align-middle me-1" data-feather="settings"></i> Settings &
									Privacy</a>
								<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
        <main role="main" class="content" style="background-color: #ffffff;" @*class="pb-3"*@>
            <partial name="_Notification" />    @*Do not Delete (Jessica)*@
            @RenderBody()
        </main>
        </div>

    </div>




    <footer class="border-top footer text-muted">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a href="https://adminkit.io/" target="_blank" class="text-muted"><strong>AdminKit</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
    </footer>

@*	<script src="~/js/app.js" asp-append-version="true"></script>
	<script src="~/js/datatables.js"></script>
	<script src="~/js/fullcalendar.js"></script>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>