@page
@using FormWizard.Model;
@model FormWizard.Pages.Questions.CreateModel
@{
}

<div class="row mt-6">
    <div class="col-md-1"></div>
    <div class="col-md-4">       
        <div class="col-md-12">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb d-flex justify-content-start  align-middle" >
                    <li class="breadcrumb-item h2" style="color: rgb(29, 82, 125);"><a asp-page="/MyForms/index"><strong>FORM</strong></a></li>
                    <li class="breadcrumb-item h2" style="color: rgb(29, 82, 125);"><a asp-page="Index" asp-route-myformid="@Model.myFormId"><strong>QUESTION</strong></a></li>
                    <li class="breadcrumb-item h2 active" aria-current="page" style="color: rgb(29, 82, 125);"><strong>NEW</strong></li>
                </ol>
            </nav>
        </div>
        <div class="card p-3 mt-4">
            <div class="card-body mt-2">
                <section>
                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="question.QuestionText"></label>
                            <input asp-for="question.QuestionText" class="form-control" class="form-control" />
                            <span asp-validation-for="question.QuestionText" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="question.QuestionDescription"></label>
                            <input asp-for="question.QuestionDescription" class="form-control" class="form-control" />
                            <span asp-validation-for="question.QuestionDescription" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="question.Type"></label>
                            <select asp-for="question.Type" asp-items="Html.GetEnumSelectList<Question.QuestionType>()" class="form-control" id="question_Type">
                                <option disabled selected>--- Select Item ---</option>
                            </select>
                        </div>                
                            <input asp-for="question.IsRequired" class="form-check-input" hidden/>
                        <div class="mb-3" id="extensionField">
                            <input asp-for="question.Extension" class="form-check-input" />
                            <label asp-for="question.Extension"></label>
                            <span asp-validation-for="question.Extension" class="text-danger"></span>
                        </div>
                        <input asp-for="question.OrderOfDisplay" value="@Model.counter" class="form-control" hidden />
                        <input asp-for="question.MyFormId" value="@Model.myFormId" class="form-control" hidden />
                        <div class="row justify-content-end">
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-primary btn-sm">Add</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 text-center">
        <img src="~/images/NewItem.png" class="img-fluid m-auto mt-2 display-flex justify-content-start" alt="Responsive image" />
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            toggleExtensionVisibility();

            $('#question_Type').change(function () {
                toggleExtensionVisibility();
            });

            function toggleExtensionVisibility() {
                var selectedType = $('#question_Type').val();
                console.log("selectedType", selectedType)
                var extensionField = $('#extensionField');
                console.log("extensionField", extensionField)

                // please check Question Model. QuestionType: radio is position 1 and list is position 5
                if (selectedType === "1") {
                    extensionField.show();
                } else if (selectedType === "5") {
                    extensionField.show();
                } else {
                    extensionField.hide();
                }
            }
        });
    </script>
}