@page
@model FormWizard.Pages.Countries.IndexModel
@{
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="h2 d-inline align-middle" style="color: rgb(29, 82, 125);"> <strong>COUNTRIES</strong></h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a asp-page="create" class="btn btn-facebook btn-sm">
                <i class="bi bi-plus-circle"></i>&nbsp;
                Add Country
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card" style="padding-left: 30px; padding-right: 30px;">
                <div class="card-body">
                    <table class="table table-borderless" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-primary">
                                    Name
                                </th>
                                <th class="text-primary">
                                    Image
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model.countries)
                            {
                                <tr>
                                    <td class="text-muted" width="70%">
                                        @obj.Name
                                    </td>
                                    <td width="10%">
                                        <img src="@obj.FlagImage" class="rounded-circle" alt="Image" width="35px" height="35px" />
                                    </td>
                                    <td width="20%">
                                        <div>
                                            <nav class="nav btn-group">
                                                <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-light bg-white btn-sm">
                                                    <i class="bi bi-pencil-square" style="font-size: 0.8rem; color: black;"></i>
                                                    Edit
                                                </a>
                                                &nbsp &nbsp &nbsp
                                                <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger btn-sm">
                                                    <i class="bi bi-trash-fill" style="font-size: 0.8rem; color: white;"></i>
                                                    Delete
                                                </a>
                                            </nav>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>